<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Login Form</h2>
    <form th:action="@{/loginform}" method="post">
        <label>Username:</label>
        <input type="text" name="username"/> <br/>
        <label>Password:</label>
        <input type="password" name="password"/> <br/>
        <button type="submit">Login</button>
    </form>
    <div style="color:red" th:if="${param.error}">Sai tài khoản hoặc mật khẩu</div>
    <p th:text="${message1}"></p>
</body>
</html>

